:root{
    font-family: 'Roboto', sans-serif;
    --heder-bg-color: #89f4e4;
    --font-color: #303232;
    --general-bg-color: #e7fcf9;
    --resultado-bg-color: #fcf9e7;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    margin-top: 5%;
    width: 100%;
    height: 700px;
}

.titulo{
    margin: auto;
    width:30%;
    height: 7%;
    background-color: var(--heder-bg-color);
    color: var(--font-color);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor{
    margin: auto;
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.inputs{
    width: 60%;
    height: 100%;
    background-color: var(--general-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
}

.inputs label{
    text-transform: uppercase;
    margin-bottom: 2%;
}
.inputs label, input{
    width: 70%;
    outline: none
}

.peso{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.estatura{
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
.btn{
    width: 80%;
    text-align: center; 
}
.btn input{
    width: 40%;
    height: 35px;
    border: none;
    background-color: var(--heder-bg-color);
    color: var(--font-color);
    outline: none
}

.resultado{
    width: 40%;
    height: 100%;
    background-color: var(--resultado-bg-color);
}

.resultado h3{
    text-transform: uppercase;
}

.resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#text{
    font-size: 0.9rem;
}