:root{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --heder-bg-color: #89f4e4;
    --font-color: #303232;
    --general-bg-color: #e7fcf9;
    --resultado-bg-color: #fafbfd;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main{
    margin: auto;
    width: 30%;
    height: auto;
    background-color: green;
    margin-top: 5%;
    -webkit-box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.75);
}

.titulo{
    margin: auto;
    width:100%;
    height: 7%;
    background-color: var(--heder-bg-color);
    color: var(--font-color);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}

#contenedor{
    margin: auto;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
}

.inputs{
    width: 50%;
    height: 100%;
    background-color: var(--general-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
}

.inputs label{
    text-transform: uppercase;
    margin-bottom: 2%;
}
.inputs label, input{
    width: 70%;
    outline: none
}

.peso{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.estatura{
    width: 80%;
    display: flex;
    flex-direction: column;    
}

.btn{
    width: 100%;
    text-align: center; 
   
}

.btn input{
    width: 30%;
    height: 35px;
    border: none;
    border-radius: 3%;
    background-color: var(--heder-bg-color);
    color: var(--font-color);
    outline: none
    -webkit-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.09);
}

.btn input:hover{
    background-color: #98ede0;
}

#msn{
    margin: auto;
    width: 90%;
    padding: 2% 0;
    border: solid 1px #e7cdd0;
    border-radius: 3%;
    background-color: RGB(247, 215, 218);
    margin-top: 5%;
    font-size: 0.9rem;
}

.resultado{
    width: 50%;
    height: 100%;
    background-color: var(--resultado-bg-color);
}

.resultado h3{
    text-transform: uppercase;
}

.resultado{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.text{
    font-size: 0.9rem;
    text-align: center;
}

.normal{
    background-color:#d4edda;
    padding: 5%;
    border-radius: 5%; 
    border: 1px solid #cddfd0;
}

.inferior{
    background-color: #fff3cd;
    padding: 5%;
    border-radius: 5%;
    border: 1px solid #f7edd1;
}

.superior{
    background-color:#f8d7da;
    padding: 5%;
    border-radius: 5%;
    border: 1px solid #e7cdd0;
}